Repository KiritoKing/notion-astro-rev: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint --fix, prettier --write

feat: 完善git hooks和ci流程
  .eslintcache
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/basic-pages.spec.ts
  tests/e2e/performance.spec.ts
  tests/e2e/url-redirects.spec.ts
  tests/tsconfig.json
Due: tsc --noEmit, eslint --fix, prettier --write

feat: 增强e2e测试
  astro.config.mjs
  package.json
  postcss.config.mjs
  scripts/test.js
  tests/e2e/performance.spec.ts
Due: tsc --noEmit, eslint --fix, prettier --write

feat: 完善重定向测试
  package.json
  scripts/test.js
  tests/e2e/basic-pages.spec.ts
  tests/e2e/performance.spec.ts
  tests/e2e/url-redirects.spec.ts
Due: tsc --noEmit, eslint --fix, prettier --write

chore: 优化测试
  .github/workflows/ci.yml
Due: prettier --write

chore: try to fix pnpm
  .github/workflows/ci.yml
Due: prettier --write

chore: 优化ci
  .github/workflows/ci.yml
Due: prettier --write

fix: ci
  .github/workflows/ci.yml
Due: prettier --write

chore: chore
  .github/workflows/ci.yml
  .prettierignore
Due: prettier --write

feat: 简化ci
  .github/workflows/ci.yml
Due: prettier --write

chore: cicici
  .github/workflows/ci.yml
Due: prettier --write

fix: cicicic
  .github/workflows/ci.yml
Due: prettier --write

feat: 增加ci构建缓存
  .github/workflows/ci.yml
Due: prettier --write

feat: 增加playwright浏览器安装缓存
  .github/workflows/ci.yml
Due: prettier --write

feat: 增加url迁移范围
  migration/index.mjs
  migration/url-map.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 完善配置
  package.json
Due: prettier --write

chore: fix config
  migration/index.mjs
  migration/url-map.json
  package.json
Due: eslint --fix, prettier --write

chore: rebuild lock file
  pnpm-lock.yaml
Due: prettier --write

feat: rebuild lock file again
  pnpm-lock.yaml
Due: prettier --write

feat: 完善
  migration/index.mjs
  migration/url-map.json
Due: eslint --fix, prettier --write

feat: 完善url迁移map
  migration/index.mjs
  migration/url-map.json
Due: eslint --fix, prettier --write

fix: add e2e tests for URL redirects and path handling
  tests/e2e/url-redirects.spec.ts
Due: tsc --noEmit, eslint --fix, prettier --write

docs: Update README with Notion integration and migration features
  README.md
  README.zh-CN.md
Due: prettier --write

chore: Add reference to notion-astro-loader package in README files
  README.md
  README.zh-CN.md
Due: prettier --write

chore: rm sth
  src/components/PostCard.astro
  src/config.ts
  src/pages/posts/[...slug].astro
Due: tsc --noEmit, eslint --fix, prettier --write

feat: disable CSS compression in Astro config
  astro.config.mjs
Due: eslint --fix, prettier --write

feat: 增加cloudflare重定向配置
  .gitignore
  migration/index.mjs
  package.json
  scripts/generate-redirects.mjs
Due: eslint --fix, prettier --write

build: 删除嵌套写法 修复cssbug
  astro.config.mjs
  postcss.config.mjs
  src/components/PostCard.astro
  src/styles/main.css
  src/styles/markdown.css
  src/styles/scrollbar.css
Due: eslint --fix, prettier --write

feat: add Giscus comment system and style comment section padding
  src/pages/posts/[...slug].astro
  src/styles/main.css
Due: prettier --write

fix: cloudflare deploy failed
  migration/index.mjs
Due: eslint --fix, prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: build errors and enhance xml
  astro.config.mjs
  src/pages/rss.xml.ts
Due: tsc --noEmit, eslint --fix, prettier --write

Path conditions:
  tsc --noEmit: any of: **/*.{ts,tsx,mts,cts}
  eslint --fix: (any of: **/*.{ts,tsx,mts,cts}) or (any of: **/*.{js,jsx,mjs,cjs})
  prettier --write: ((any of: **/*.{ts,tsx,mts,cts}) or (any of: **/*.{js,jsx,mjs,cjs})) or (any of: **/*.{json,md,mdx,css,html,yml,yaml})
